{% extends 'base.html.twig' %}

{% block body %}
<header>
    <div class="titre">
        <h1>Learn Project <br/> Blog Symfony</h1> 
    </div>
    <div class="connexion">
        <label>Espace Connexion</label><br/>
          {% include 'LearnUserBundle::layout.html.twig' %}
    </div>
</header>
{% block nav %}
<nav>
    <div class="menu_droit">
        <ul>
            <li><a href="{{ path('learn_project_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('learn_project_blog') }}">Espace Blog</a></li>
            <li><a href="{{ path('learn_project_shop') }}">Espace E-commerce</a></li>             
            <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            <li><a href="{{ path('learn_project_contact') }}">Contactez moi</a></li>
        </ul>
    </div>
    <div class="menu_article_recent">
        <h3>Articles Récent</h3>
        {{ render(controller('LearnBlogBundle:Blog:Recent')) }}
    </div>
</nav>
{% endblock %}
<section>
{% block page %}
{% endblock %}
</section>
{% block footer %}
<footer>
    <p>All right reserved - @copyright - coded and designed by Baudouin Wartel</p>
</footer>
{% endblock %}
{% endblock %}

