{% extends "::default/Index.html.twig" %}

{% block page %}
<article>
    <h3>Detail de l'article numéro : {{ article.id }}</h3>
    <p>{{ article.titre }}</br>
        {{ article.contenu }}</br>
        {{ article.auteur }} - {{ article.datePublication|date('d/m/Y') }}</p>
    
    {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_MODERATEUR") %}
        <button onclick="window.location.href = '{{ path('learn_project_modif_article', {'id': article.id}) }}';">modifier</button>
        <button onclick="window.location.href = '{{ path('learn_project_suppr_article', {'id': article.id}) }}';">Supprimer</button>
    {% endif %}
        
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
                {{ flashMessage }}
        </div>
    {% endfor %}
</article>
<div class="article_ajout_commentaire">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include 'LearnBlogBundle::commentaire/form_commentaire.html.twig' with { 'article' : article.id, 'form' : form } %}
    {% else %}
        <p>Vous devez vous connecter pour écrire un commentaire</p>
    {% endif %}
</div>
<div class="all_commentaire">
   {% if comments is not empty %}
    {% for comment in comments %}
        <label>De {{ comment.auteur }} le {{ comment.date|date('d/m/Y') }} :</label>
        <p>{{ comment.commentaire }}</p>
    {% endfor %}
    {% else %}
        <p>Aucun commentaire</p>
    {% endif %}
</div>
{% endblock %}
